.react-image-slider {
	border-radius: 10px;
	border: 1px solid #c1c1c1;
	overflow: hidden;
	display: inline-block;
	box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.13)
}

.buttons {
	background-color : white;
	border : none;
	font-size: 40px;
	color: #c1c1c1;
	transition: background 0.4s;
}

.buttons:focus {
	border: none;
	outline: none;
}

.buttons:hover {
	color: #333;
}

.buttons:disabled:hover {
	color: #c1c1c1;
}
